*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
/* .header{
    display:flex;
    justify-content: space-between;
    border:1px solid black;
    background-color: coral;
    height:102px;
    color:#fff;
    position: fixed;
    width: 100vw;
} */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: coral;
  height: 102px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* keeps header above everything */
}


.logo{
    width:100px;
    margin-bottom: 0;

}

.nav > ul{
    display: flex;
    font-size: 24px;
    padding-top: 10px;
}
.nav>ul>li{
    padding:10px;
    margin: 10px;
    list-style: none;
}
.card{
    width:275px;

    background-color:coral;
    border-radius: 10px;
    padding:5px;
    margin:10px;
    color:#fff;
    transition: transform 0.3 ease;
    margin-bottom: 20px;
    height:440px;
  
}
.search{
    width:100vw;
}
.res-img{
    width:100%;
    height:65%;
    border-radius: 10px;

}
.card:hover{
    border:1px solid black;
    cursor: pointer;
    transform: translateY(-10px) scale(1.05);
 

}
.card-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
   
}
.filter-btn{
    background-color: coral;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    color:#fff;
    border:#fff;
}
.shimmer-card{
        width:275px;
        height:350px;

    background-color:#f0f0f0;
    border-radius: 10px;
    padding:5px;
    margin:10px;
}
.shimmer-container{
   
    display:flex;
    flex-wrap: wrap;
}
.login-btn{
     background-color: #fff;
   
    padding: 15px;
    border-radius: 10px;
    color:coral;
    border:#fff;
    outline: none;
}
  
.filter {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* vertically aligns within container */
  /* space between input and buttons */
  width: 100%;
  margin-top: 110px;
}
.searchbox{
    width:250px;
    padding:10px 18px;
    font-size: 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
    border: 2.5px solid coral;
    
}
.search-btn{
    padding:10px 18px;
    height:43px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: coral;
    color:#fff;
    outline: none;
    border: none;
}
.title{
    display: flex;
    text-align: center;
    margin: auto 10px;
}
a
{
    
    text-decoration: none;
    color: inherit;
}
.fixed{
     margin-top: 110px;
}
/* .menu-container{
    display: flex;

} */